/* Header styles start*/

@media screen and (max-width:1023px) {

  body {
    min-width: 320px;
    font-size: 14px;
    line-height: 17px;
  }

  .container {
    max-width: 768px;
    padding: 0 45px;
    margin: 0 auto;
  }

  .site-header {
    padding-top: 30px;
  }

  .header-top {
    height: 20px;
  }

  .logo {
    width: 38px;
    height: 20px;
    background-size: 38px 20px;
  }

  .logo:hover {
    width: 38px;
    height: 20px;
    background-size: 38px 20px;
  }

  .header-menu {
    height: 20px;
  }
  .header-item {
    margin-left: 23px;
  }

  .header-link {
    line-height: 17px;
  }
}

@media screen and (max-width:767px) {

  body {
    min-width: 320px;
    font-size: 14px;
  }

  .container {
    max-width: 320px;
    padding: 15px;
    margin: 0 auto;
  }

  .site-header {
    padding-top: 20px;
    background-position: center;
  }

  .header-top {
    height: 22px;
  }

  .logo {
    width: 42px;
    height: 22px;
    background-size: 42px 22px;
  }

  .logo:hover {
    width: 42px;
    height: 22px;
    background-size: 42px 22px;
  }

  .header-menu {
    display: none;
  }

  .header-menu .hamburger {
    visibility: visible;
  }
}

/* Header styles end*/

/* intro styles start*/

@media screen and (max-width:1023px) {

  .intro {
    min-height: 638px;
  }

  .intro h1 {
    padding-top: 280px;
    padding-left: 0;
    font-size: 50px;
    line-height: 61px;

  }

  .intro p {
    padding-top: 29px;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width:767px) {

  .intro h1 {
    padding-top: 185px;
    font-size: 36px;
    line-height: 45px;
  }

  .intro p {
    padding-top: 25px;
    line-height: 22px;
  }

  .hamburger {
    visibility: visible;
  }
}

/* intro styles end*/

/* description styles start*/

@media screen and (max-width:1023px) {

  .description {
    margin: 100px 0;
  }

  .description-flex-item {
    margin-right: 30px;
    width: 324px;
  }

  .description h2 {
    margin-bottom: 30px;
    width: 205px;
    font-size: 26px;
    line-height: 36px;
  }

  .penguins-1366,
  .penguins-320 {
    display: none;
  }

  .penguins-768 {
    display: block;
    max-width: 324px;
    max-height: 264px;
  }
}

@media screen and (max-width:767px) {

  .description {
    margin: 65px 0;
  }

  .description-flex-container {
    flex-wrap: wrap;
  }

  .description-flex-item {
    margin-right: 0;
    margin-bottom: 40px;
    width: 290px;
  }

  .description h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .penguins-320 {
    display: block;
    max-width: 290px;
    max-height: 186px;
  }

  .penguins-1366,
  .penguins-768 {
    display: none;
  }
}

/* description styles end*/

/* advantage styles start*/

@media screen and (max-width:1023px) {
  .advantage{
    padding: 100px 0;
  }

  .advantage h2{
    font-size: 26px;
    line-height: 39px;
  }

  .advantage-cards{
    padding: 25px 20px;
    width: 206px;
  }

  .advantage-cards-gap {
    margin-left: 30px;
    margin-right: 30px;
  }

  .advantage h3{
    line-height: 25px;
  }

  .advantage-cruise-ship .advantage-cards-subtitle{
    width: 154px;
  }

  .advantage-all-inclusive .advantage-cards-subtitle{
    width: 162px;
  }

  .advantage-sightseeing-tours .advantage-cards-subtitle{
    width: 167px;
  }

  .icon-ship{
    width: 21px;
    height: 26px;
  }

  .icon-check-mark{
    margin-top: 4px;
    margin-bottom: 28px;
    display: block;
    width: 33px;
    height: 19px;
  }

  .icon-boat{
    margin-top: 7px;
    margin-bottom: 31px;
    display: block;
    width: 38px;
    height: 13px;
  }
}

@media screen and (max-width:767px) {
  .advantage {
    padding: 65px 0;
  }

  .advantage-flex-container {
    flex-wrap: wrap;
  }

  .advantage h2 {
    font-size: 24px;
    margin-bottom: 36px;
  }

  .advantage-cards {
    width: 290px;
  }

  .advantage-cards-gap {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .advantage-all-inclusive h3 {
    width: 133px;
  }

  .advantage-sightseeing-tours h3 {
    width: 151px;
  }

  .advantage-cruise-ship p {
    width: 255px;
  }

  .advantage-all-inclusive p {
    width: 223px;
  }

  .advantage-sightseeing-tours p {
    width: 233px;
  }
}

/* advantage styles end*/

/* tour-catalog styles start*/

@media screen and (max-width:1023px) {
  .tour-catalog {
    margin: 100px 0;
  }

  .tour-catalog-container {
    width: 768px;
    padding: 0 45px;
  }

  .tour-catalog h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .card {
    margin: 15px;
    width: 309px;
    height: 386px;
  }

  .card-astoria-768,
  .card-atlantis-768,
  .card-odysseus-768,
  .card-olympi-768,
  .card-aurora-768,
  .card-leonor-768,
  .card-minion1-768 {
    display: block;
    width: 309px;
  }

  .card-astoria-1366,
  .card-astoria-320,
  .card-atlantis-1366,
  .card-atlantis-320,
  .card-odysseus-1366,
  .card-odysseus-320,
  .card-olympi-1366,
  .card-olympi-320,
  .card-aurora-1366,
  .card-aurora-320,
  .card-leonor-1366,
  .card-leonor-320,
  .card-minion1-1366,
  .card-minion1-320 {
    display: none;
  }

  .front h3 {
    bottom: 35px;
    left: 35px;
  }

  .back h3 {
    left: 35px;
  }

  .back-list {
    left: 35px;
    right: 35px;
  }

  .back-button {
    padding: 14px 61px 15px;
    left: 35px;
    right: 35px;
  }
}

@media screen and (max-width:767px) {
  .tour-catalog {
    margin: 65px 0;
  }

  .tour-catalog-container {
    width: 320px;
    padding: 0 15px;
  }

  .tour-catalog h2 {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }

  .card {
    margin: 10px;
    width: 270px;
  }

  .card-astoria-320,
  .card-atlantis-320,
  .card-odysseus-320,
  .card-olympi-320,
  .card-aurora-320,
  .card-leonor-320,
  .card-minion1-320 {
    display: block;
    width: 270px;
  }

  .card-astoria-1366,
  .card-astoria-768,
  .card-atlantis-1366,
  .card-atlantis-768,
  .card-odysseus-1366,
  .card-odysseus-768,
  .card-olympi-1366,
  .card-olympi-768,
  .card-aurora-1366,
  .card-aurora-768,
  .card-leonor-1366,
  .card-leonor-768,
  .card-minion1-1366,
  .card-minion1-768 {
    display: none;
  }

  .front h3 {
    bottom: 25px;
    left: 25px;
  }

  .back h3 {
    left: 25px;
  }

  .back-list {
    left: 25px;
    right: 25px;
  }

  .back-button {
    padding: 14px 51px 15px 52px;
    left: 25px;
    right: 25px;
  }

}

/* tour-catalog styles end*/

/* reservation styles start*/

@media screen and (max-width:1023px) {
  .reservation {
    padding: 100px 0;
    min-height: 805px;
    background-image: url(../img/reservation-fon-768.png);
  }

  .reservation-container {
    max-width: 768px;
    padding: 0 174px;
  }

  .reservation-flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .reservation-flex-item {
    margin-right: 0;
    margin-bottom: 60px;
    max-width: 419px;
    text-align: center;
  }

  .reservation h2 {
    margin-bottom: 25px;
    display: block;
    width: 419px;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  .reservation p {
    margin-left: 33.5px;
    margin-right: 33.5px;
    text-align: center;
  }

  .reservation-form p {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 35px;
  }
}

@media screen and (max-width:767px) {
  .reservation{
    padding: 65px 0;
    min-height: 760px;
  }

  .reservation-container {
    max-width: 320px;
    padding: 0 15px;
  }

  .reservation-flex-item {
    margin-bottom: 40px;
    max-width: 290px;
    text-align: center;
  }

  .reservation h2 {
    margin: 0 48px;
    width: 194px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }

  .reservation p {
    margin-left: 16.5px;
    margin-right: 16.5px;
    margin-top: 25px;
    text-align: center;
  }

  .reservation-form {
    box-sizing: content-box;
    padding: 40px 30px;
    width: 230px;
  }

  .reservation-form p {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
    width: 214px;
    line-height: 25px;
    text-align: center;
  }

  .reservation-form input[type=text],
  .reservation-form input[type=tel],
  .reservation-form input[type=email],
  .form-btn {
    width: 230px;
  }

  .reservation-form-field-email {
    margin-bottom: 20px;
  }

  .checkbox-label {
    padding-left: 28px;
    display: block;
    line-height: 12px;
  }

  .check-box {
    margin-left: -28px;
    top: 2px;
    width: 20px;
    height: 20px;
  }

  .form-btn {
    margin-top: 30px;
  }
}

/* reservation styles end*/

/* contacts styles start*/

@media screen and (max-width:1023px) {
  .contacts{
    margin: 100px 0;
  }

  .contacts-container {
    max-width: 768px;
    padding: 0 45px;
  }

  .contacts-flex-container {
    flex-wrap: nowrap;
  }

  .map-768 {
    display: block;
    width: 324px;
    height: 335px;
    order: 0;
  }

  .map-1366,
  .map-320 {
    display: none;
  }

  .contacts-flex-item {
    margin-left: 30px;
    width: 324px;
  }

  .contacts h3 {
    margin-bottom: 40px;
  }

}

@media screen and (max-width:767px) {
  .contacts {
    margin: 65px 0;
  }

  .contacts-container {
    max-width: 320px;
    padding: 0 15px;
  }

  .contacts-flex-container {
    flex-wrap: wrap;
    gap: 43px;
  }

  .map-320 {
    display: block;
    width: 560px;
    height: 306px;
    order: 2;
  }

  .map-1366,
  .map-768 {
    display: none;
  }

  .contacts-flex-item {
    margin-left: 0;
    width: 290px;
  }

  .contacts-address {
    margin-top: 0;
    width: 290px;
    order: 1;
  }

  .address {
    margin-top: 40px;
  }
}

/* contacts styles end*/

/* footer styles start*/

@media screen and (max-width:1023px) {
  .footer-menu {
    height: 20px;
  }

  .footer-item {
    margin-right: 23px;
  }

  .footer-link {
    font-size: 12px;
    line-height: 15px;
  }

  .foter-logo {
      margin-right: 2px;
      width: 38px;
      height: 20px;
      background-size: 38px 20px;
    }

    .foter-logo:hover {
      margin-right: 2px;
      width: 38px;
      height: 20px;
      background-size: 38px 20px;
    }

    .social {
      width: 87px;
      height: 20px;
    }

    .fb {
      width: 9px;
      height: 16px;
      background-size: 9px 16px;
    }

    .fb:hover {
      width: 9px;
      height: 16px;
      background-size: 9px 16px;
    }

    .icon-od {
      margin-left: 23px;
      margin-right: 23px;
    }

    .od {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }

    .od:hover {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }

    .tw {
      width: 16px;
      height: 13px;
      background-size: 16px 13px;
    }

    .tw:hover {
      width: 16px;
      height: 13px;
      background-size: 16px 13px;
    }
}

@media screen and (max-width:767px) {
  .flex-container {
    flex-direction: column;
  }

  .site-footer {
    padding: 40px 0;
  }

  .site-footer-flex-container {
    display: block;
  }

  .footer-menu {
    height: 223px;
    display: block;
  }

  .footer-item {
    margin-right: 0;
    margin-top: 23px;
  }

  .footer-item:first-child {
    margin-top: 0;
  }

  .footer-link {
    font-size: 12px;
    line-height: 15px;
  }

  .foter-logo {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 0;
    width: 42px;
    height: 22px;
    background-size: 42px 22px;
  }

  .foter-logo:hover {
    margin-right: 0;
    width: 42px;
    height: 22px;
    background-size: 42px 22px;
  }

  .social {
    width: 87px;
    height: 16px;
  }
}

/* footer styles start*/
