@import "fonts";
@import "reset";

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  min-width: 320px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  color: #011C40;
  line-height: 20px;
}

/* Header styles end*/

.container{
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
}

.site-header{
  padding-top: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #F9FBFD;
  z-index: 1;
}

.header-top{
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: block;
  width: 70px;
  height: 38px;
  background-image: url(../img/icon-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 38px;
}

.logo:hover{
  display: block;
  width: 70px;
  height: 38px;
  background-image: url(../img/icon-popap-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 38px;
}

.logo:focus{
  border: 1px dotted #011C40;
}

.header-menu{
  height: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.header-item{
  margin-left: 33px;
}

.header-link {
  font-family: 'Montserratmedium', Arial, sans-serif;
  text-decoration: none;
  line-height: 20px;
  color: #F9FBFD;
}

.header-link:hover{
  color: #011C40;
  text-decoration: underline;
}

.header-link:active{
  color: #011C40;
  text-decoration: underline;
}

.header-link:focus{
  outline: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* hamburger styles start*/

.overlay{
  display: none;
}

.hamburger-icon-container {
  width: 30px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-icon-container{
  border: 1px dotted #011C40;
}

.hamburger{
  visibility: hidden;
  width: 24px;
  height: 12px;
}

.hamburger-icon {
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #F9FBFD;
  cursor: pointer;
}

.hamburger-icon::before {
  position: absolute;
  left: 0;
  top: -4px;
  margin-top: -2px;
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: #F9FBFD;
}

.hamburger-icon::after {
  position: absolute;
  left: 0;
  top: 4px;
  margin-top: 2px;
  content: '';
  width: 24px;
  height: 2px;
  background-color: #F9FBFD;
}

.hamburger-icon-container:hover+.hamburger-icon:hover,
.hamburger-icon-container:hover+.hamburger-icon:hover::before,
.hamburger-icon-container:hover+.hamburger-icon:hover::after {
  background-color: #011C40;
}

.hamburger-icon:hover,
.hamburger-icon:hover::before,
.hamburger-icon:hover::after{
  background-color: #011C40;
}

.hamburger-icon:active,
.hamburger-icon:active::before,
.hamburger-icon:active::after{
  background-color: #011C40;
}

/* hamburger styles end*/

/* popap styles start*/

.popup {
  position: absolute;
  width: 320px;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.popup-logo{
  margin-bottom: 20px;
}

.popup-logo:focus{
  border: 1px dotted #011C40;
}

.header-popap-item{
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
}

.header-popap-item:last-child{
  margin-bottom: 45px;
}

.header-popap-link{
  font-family: 'Montserratmedium';
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #011C40;
}

.header-popap-link:hover{
  color: #011C40;
  text-decoration: underline;
}

.header-popap-link:active{
  color: #011C40;
  text-decoration: underline;
}

.header-popap-link:focus{
  outline: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.close-popup {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #011C40;
  position: absolute;
  height: 2px;
  width: 13px;
  top: 5px;
  left: 0px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #011C40;
  position: absolute;
  height: 2px;
  width: 13px;
  top: 5px;
  transform: rotate(45deg);
  left: 0px;
}
/* popap styles end*/

/* header styles end*/

/* intro styles start*/

.intro{
  min-height: 650px; //100vh
  background-image: url(../img/header_fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #F9FBFD;
  background-color: #92c0ee;
}

.intro-title{
  padding-top: 283px;
  padding-left: 95px;
  font-family: 'Montserratbold';
  font-size: 54px;
  line-height: 66px;
  color: #F9FBFD;
}

.intro-subtitle{
  padding-top: 30px;
  padding-left: 95px;
  font-size: 20px;
  line-height: 24px;
}
/* intro styles start*/

/* description styles start*/

.description{
  margin: 120px 0;
}

.description-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.description-flex-item{
  width: 512px;
}

.description-title{
  margin-bottom: 40px;
  font-family: "MontserratSemiBold", Arial, sans-serif;
  font-size: 28px;
  line-height: 42px;
}

.description-subtitle{
  line-height: 24px;
  font-size: 16px;
}

.penguins_1366{
  max-width: 560px;
  max-height: 301px;
}

.penguins_768, .penguins_320{
  display: none;
}

/* description styles end*/

/* advantage styles start*/

.advantage{
  min-height: 562px; //100vh
  padding: 120px 0;
  background-image: url(../img/advantages_fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #E3ECF6;
}

.advantage-flex-container{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.advantage-title{
  font-family: "MontserratSemiBold", Arial, sans-serif;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 60px;
  text-align: center;
}

.advantage-cards{
  padding: 30px;
  max-width: 360px;
  background-color: #F9FBFD;
}

.advantage-cards-title{
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.advantage-cards-subtitle{
  font-size: 14px;
  line-height: 20px;
}

.advantage-cruise-ship .advantage-cards-subtitle{
  max-width: 288px;
}

.advantage-all-inclusive .advantage-cards-subtitle{
  max-width: 280px;
}

.advantage-sightseeing-tours .advantage-cards-subtitle{
  max-width: 241px;
}

.icon-ship{
  display: block;
  width: 27px;
  height: 32px;
}

.icon-check-mark{
  margin-top: 5px;
  margin-bottom: 31px;
  display: block;
  width: 38px;
  height: 21px;
}

.icon-boat{
  margin-top: 8px;
  margin-bottom: 34px;
  display: block;
  width: 42px;
  height: 15px;
}

/* advantage styles end

/* tour-catalog styles start*/

.tour-catalog{
  margin: 120px 0;
}

.tour-catalog-container{
  max-width: 1366px;
  padding: 0 118px;
  margin: 0 auto;
}

.tour-catalog-flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  gap: 30px;
}

.tour-catalog-title{
  margin-bottom: 60px;
  font-family: "MontserratSemiBold", Arial, sans-serif;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}

.card{
  width: 260px;
  height: 386px;
  position: relative;
  perspective: 1000px;
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.front {
  background-color: #E3ECF6;
}

.card-astoria_1366,
.card-atlantis_1366,
.card-odysseus_1366,
.card-olympi_1366,
.card-aurora_1366,
.card-leonor_1366,
.card-minion1_1366{
  width: 260px;
  height: 386px;
}

.card-astoria_768, .card-astoria_320,
.card-atlantis_768, .card-atlantis_320,
.card-odysseus_768, .card-odysseus_320,
.card-olympi_768, .card-olympi_320,
.card-aurora_768, .card-aurora_320,
.card-leonor_768, .card-leonor_320,
.card-minion1_768, .card-minion1_320{
  display: none;
}

.back{
  background: #011C40;
  box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
  transform: rotateY(180deg);
}

.card:hover .front{
  transform: rotateY(180deg);
}

.card:hover .back{
  transform: rotateY(360deg);
}

.front-title{
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #F9FBFD;
}

.back-title{
  position: absolute;
  top: 35px;
  left: 25px;
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #F9FBFD;
}

.back-subtitle-list{
  list-style: none;
  position: absolute;
  top: 73px;
  left: 25px;
  right: 25px;
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #F9FBFD;
}

.back-subtitle:nth-child(odd){
  padding-bottom: 3px;
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #F9FBFD;
}

.back-subtitle:nth-child(even){
  padding-bottom: 6px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #D8D8D9;
}

.back-subtitle:last-child{
  padding-bottom: 0px;
}

.back-button{
  padding: 14px 46px 15px 47px;
  position: absolute;
  bottom: 35px;
  left: 25px;
  right: 25px;
  font-family: "MontserratSemiBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  border: none;
  color: #011C40;
  background-color: #F9FBFD;
  cursor: pointer;
}

.back-button:focus{
  border: 1px dotted #011C40;
}

/* tour-catalog styles end*/

/* reservation styles start*/

.reservation{
  padding: 50px 0;
  min-height: 555px; //100vh
  background-image: url(../img/reservation_fon_1366.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.reservation-container{
  max-width: 1366px;
  padding: 0 163px;
  margin: 0 auto;
}

.reservation-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}

.reservation-flex-item{
  max-width: 493px;
}

.reservation-title{
  margin-bottom: 30px;
  font-family: "MontserratSemiBold", Arial, sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.reservation-subtitle{
  max-width: 352px;
  font-size: 18px;
  line-height: 27px;
}

.reservation-form{
  padding: 50px;
  max-width: 403px;
  background: #011C40;
}

.reservation-form-info{
  margin-bottom: 35px;
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #F9FBFD;
}

.reservation-form-field{
  margin-bottom: 20px;
  padding: 9px 16px;
  width: 303px;
  height: 43px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #011C40;
}

.reservation-form-field::placeholder{
  font-family: "Montserrat", Arial, sans-serif;
  height: 43px;
  font-size: 14px;
  line-height: 21px;
  color: #011C40;
}

.reservation-form-field-email{
  margin-bottom: 25px;
}

.checkbox-input{
  position: absolute;
  appearance: none;
}

.check-box{
  margin-left: -23px;
  position: absolute;
  top: -2px;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-checkbox-off-768_1366.svg);
}

.checkbox-label{
  padding-left: 23px;
  display: block;
  position: relative;
  font-size: 10px;
  line-height: 13px;
  color: #F9FBFD;
}

.checkbox-input:checked+.check-box{
  background-image: url(../img/icon-checkbox-on-768_1366.svg);
}

.checkbox-input:focus+.check-box{
  border: 1px dotted #011C40;
}

.reservation-form-field:focus{
  border: 1px dotted #011C40;
}

.form-btn{
  margin-top: 35px;
  padding: 0;
  width: 303px;
  height: 43px;
  font-family: "MontserratSemiBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  border: 0;
  color: #011C40;
  cursor: pointer;
}

.form-btn:focus{
  border: 1px dotted #011C40;
}

/* reservation styles end*/

/* contacts styles start*/
.contacts{
  margin: 124px 0;
}

.contacts-container{
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
}

.contacts-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

iframe{
  order: 0;
  border: 0px
}

iframe:focus{
  border: 1px dotted #011C40;
}

.contacts-flex-item{
  width: 500px;
}

.contacts-title{
  font-family: "Montserratmedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.address{
  margin: 45px 0 33px 28px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
}

.address-img{
  position: absolute;
  top: 4px;
  left: -28px;
  width: 18px;
  height: 22px;
}

.phone{
  margin-left: 28px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
}

.phone-img{
  position: absolute;
  left: -28px;
  top: 4px;
  width: 18px;
  height: 18px;
}
/* contacts styles end*/

/* footer styles start*/

.site-footer{
  padding: 50px 0;
  background-color:  #011C40;
}

.site-footer-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-menu{
  height: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-item{
  margin-right: 33px;
}

.footer-item:last-child{
  margin-right: 0px;
}

.footer-link{
  font-family: 'Montserratmedium', Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #F9FBFD;
}

.footer-link:hover{
  color: #99a14b;
  text-decoration: underline;
}

.footer-link:active{
  color: #99a14b;
  text-decoration: underline;
}

.footer-link:focus{
  outline: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.foter-logo{
  margin-right: 6px;
  display: block;
  width: 70px;
  height: 38px;
  background-image: url(../img/icon-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 38px;
}

.foter-logo:hover{
  margin-right: 6px;
  display: block;
  width: 70px;
  height: 38px;
  background-image: url(../img/icon-logo-footer-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 38px;
}

.foter-logo:focus{
  border: 1px dotted #99a14b;
}

.social{
  width: 117px;
  height: 38px;
  display: flex;
  align-items: center;
}

.fb{
  display: block;
  width: 11px;
  height: 20px;
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 20px;
}

.fb:hover{
  display: block;
  width: 11px;
  height: 20px;
  background-image: url(../img/icon-footer-hover-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 20px;
}

.icon-od{
  margin-left: 33px;
  margin-right: 33px;
}

.od{
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-od.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.od:hover{
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-footer-hover-od.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.tw{
  display: block;
  width: 20px;
  height: 16px;
  background-image: url(../img/icon-tw.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 16px;
}

.tw:hover{
  display: block;
  width: 20px;
  height: 16px;
  background-image: url(../img/icon-footer-hover-tw.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 16px;
}

.fb:focus,
.od:focus,
.tw:focus{
  border: 1px dotted #99a14b;
}

/* footer styles end*/

@import "media";
