@import "fonts";

*{
  margin: 0;
  padding: 0;
}

body{

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #011C40;
}
/*----------header------------------------*/

.button {
  width: 300px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: #ff5252;
  text-align: center;
  cursor: pointer;
}

.button span {
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.popup {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: #ff5252;
	color: #fff;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}
/* */
.container{
  max-width: 1160px;
  margin: 0 auto;
}

.site-header{
  width: 100%;
  min-height: 650px;
  padding: 35px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: #F9FBFD;
  background-color: #92c0ee;
}

.header-top{
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 70px;
  height: 38px;
}

.header-menu, .footer-menu{
  height: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-menu li, .footer-menu li{
  list-style: none;
}

.header-menu a, .footer-menu a{
  font-family: 'Montserratmedium';
  padding-left: 33px;
  text-decoration: none;
  line-height: 20px;
  color: #F9FBFD;
}
.header-menu a:hover, .footer-menu a:hover{
  color: rgb(184, 187, 190);
  text-decoration: underline;
}
.header-menu a:active, .footer-menu a:active{
  color: rgb(132, 138, 143);
  text-decoration: underline;
}
.header-menu a:focus, .footer a:focus{
  outline: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.header-title{
  margin-top: 210px;
  margin-left: 95px;
}
.header-title h1{
  font-family: 'Montserratbold';
  font-size: 54px;
  line-height: 66px;
}

.header-title p{
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

/*----------header-end------------------------*/
/*----------description------------------------*/

.description{
  margin: 120px 0;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

.description-title{
  width: 512px;
}

.description h2{
  font-family: "MontserratSemiBold";
  font-size: 28px;
  line-height: 150%;
}

.description p{
  margin-top: 40px;
  line-height: 150%;
}

.description img{
  width: 560px;
  height: 301px;
}
/*----------description-end------------------------*/
/*----------advantage------------------------*/

.advantage{
  width: 100%;
  padding: 120px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #E3ECF6;
}

.advantage h2{
  font-family: "MontserratSemiBold";
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 60px;
  text-align: center;
}

.advantage h3{
  font-family: "Montserratmedium";
  font-size: 18px;
  line-height: 150%;
}

.advantage p{
  font-size: 14px;
  line-height: 140%;
}

.flex-item{
  width: 360px;
  background-color: #F9FBFD;
}

.advantage-cruise-ship{
  margin: 30px 34px 50px 30px;   //заменил маргин справа с 42 на 34
}

.advantage-cruise-ship img{
  width: 27px;
  height: 32px;
}

.advantage-cruise-ship h3{
  margin-top: 25px;
  margin-bottom: 20px;
}

.advantage-all-inclusive{
  margin: 35px 50px 50px 30px;
}

.advantage-all-inclusive img{
  width: 38px;
  height: 21px;
}

.advantage-all-inclusive h3{
  margin-top: 31px;
  margin-bottom: 20px;
}

.advantage-sightseeing-tours{
  margin: 38px 25px 30px 30px;  //заменил маргин справа с 34 на 25
}

.advantage-sightseeing-tours img{
  width: 42px;
  height: 15px;
}

.advantage-sightseeing-tours h3{
  margin-top: 34px;
  margin-bottom: 20px;
  line-height: 140%;
}
/*----------advantage-end------------------------*/
/*----------tour-catalog------------------------*/

.tour-catalog{
  margin: 120px 0;
}

.tour-catalog-container{
  width: 1130px;
  margin: 0 auto;
}

.tour-catalog h2{
  margin-bottom: 60px;
  font-family: "MontserratSemiBold";
  font-size: 28px;
  line-height: 150%;
  text-align: center;
}

.tour-catalog .flex-container{
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  width: 258px;
  height: 384px;
  position: relative;
  perspective: 1000px;
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.front {
  background-color: #E3ECF6;
}

.back{
  background: #011C40;
  box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
  transform: rotateY(180deg);
}

.card:hover .front{
  transform: rotateY(180deg);
}

.card:hover .back{
  transform: rotateY(360deg);
}

.front h3{
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-family: "Montserratmedium";
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
}

.back h3{
  position: absolute;
  top: 35px;
  left: 25px;
  font-family: "Montserratmedium";
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
}

.back ul{
  list-style: none;
  position: absolute;
  top: 73px;
  left: 25px;
  right: 25px;
  font-family: "Montserratmedium";
  font-size: 14px;
  line-height: 140%;
  color: #F9FBFD;
}

.back ul li:nth-child(odd){
  padding-bottom: 3px;
  font-family: "Montserratmedium";
  font-size: 14px;
  line-height: 140%;
  color: #F9FBFD;
}

.back ul li:nth-child(even){
  padding-bottom: 6px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 140%;
  color: #D8D8D9;
}
.back button{
  padding: 14px 46px 15px 47px;
  position: absolute;
  bottom: 35px;
  left: 25px;
  right: 25px;
  font-family: "MontserratSemiBold";
  font-size: 14px;
  line-height: 150%;
  border: none;
  color: #011C40;
  background-color: #F9FBFD;
}
/*----------tour-catalog-end------------------------*/
/*----------reservation------------------------*/

.reservation{
  width: 100%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.reservation-container{
  width: 1040px;
  margin: 0 auto;
}

.reservation-intro h2{
  margin-top: 178px;
  font-family: "MontserratSemiBold";
  font-size: 40px;
  line-height: 150%;
}

.reservation-intro p{
  margin-top: 30px;
  display: block;
  width: 352px;
  font-size: 18px;
  line-height: 150%;
}



.reservation-form{
  padding: 50px;
  width: 303px;
  height: 355px;
  background: #011C40;
}

.reservation-form p{
  margin-top: -14px;
  margin-bottom: 35px;
  font-family: "Montserratmedium";
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="submit"]{
  padding: 12.95px 16px;
  width: 303px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.checkbox-area{
 height: 18px;
 margin-bottom: 30px;
}

input[type="checkbox"]{
  margin-left: 4px;
  margin-right: 5px;
  transform:scale(2);
  cursor:pointer;
}

.checkbox-area label{
  font-size: 10px;
  line-height: 130%;
  color: #F9FBFD;
}

.form-btn{
  font-family: "MontserratSemiBold";
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
}

.reservation-form input[type="submit"]{
  margin-bottom: 0;
  padding: 9.1px 16px;
}
/*----------reservation-end------------------------*/
/*----------contacts------------------------*/
.contacts{
  margin: 100px 0;
}

.contacts-address{
  margin-top: 81px;
  margin-left: 97px; // по макету 100px
}

.contacts-address h3{
  font-family: "Montserratmedium";
  font-size: 18px;
  line-height: 150%;
}

.address{
  margin-top: 45px;
  margin-bottom: 33px;
  line-height: 150%;
}

.address img{
  margin-right: 10px;
  width: 18px;
  height: 22px;
}

.phone{
  line-height: 150%;
}

.phone img{
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
/*----------contacts-end------------------------*/
/*----------site-footer------------------------*/
.site-footer{
  padding: 50px 0;
  background-color:  #011C40;
}

.logo-nav img{
margin-right: 7px;
}

.social{
  display: flex;
  align-items: center;
}

.social .od{
  margin-left: 33px;
  margin-right: 33px;
}

.social a:hover{
  color: rgb(184, 187, 190);
  text-decoration: underline;
}
.social a:active{
  color: rgb(132, 138, 143);
  text-decoration: underline;
}
.social a:focus{
  outline: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/*----------site-footer-end------------------------*/

@import "media";
